body {
    font-family: Arial, Helvetica, sans-serif;
}

.circle {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    display: inline-block;
    margin: 7.5% 0;
}

.game-block-size {
    width: calc(110vh/7);
    height: calc(110vh/7);
}

.smaller-size {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.placeholder-size {
    width: calc(70vh/7);
    height: calc(70vh/7);
}

.float-left {
    float: left;
}

.square {
    display: block;
    /* margin: 0 auto; */
    /* vertical-align: middle; */
    text-align: center;
    background-color: navy;
}

.test {
    display: block;
    position: absolute;
}


/* .display {
    display: table-row;
} */

.column-container {
    display: table-cell;
}

.information-box {
    border: 2px black dotted;
    margin: 35px;
    padding: 30px;
    width: 30vw;
    border-radius: 20px;
    text-align: center;
}

.border {
    border: 2px dodgerblue solid;
}

.navy {
    background-color: navy;
}

.white {
    background-color: white;
}

.yellow {
    /* background-color: goldenrod; */
    background-color: rgb(230, 201, 42);
}

.red {
    /* background-color: crimson; */
    background-color: rgb(189, 15, 15);
}