body {
    font-family: Arial, Helvetica, sans-serif;
}

.circle {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    display: inline-block;
    margin: 7.5% 0;
}

.game-block-size {
    width: calc(110vh/7);
    height: calc(110vh/7);
}

.color-legend {
    width: 90%;
    height: 90%;
    margin: 5%;
}

.color-legend-placeholder {
    width: calc(70vh/7);
    height: calc(70vh/7);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.square {
    display: block;
    text-align: center;
    background-color: navy;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.inline {
    display: inline;
}

.name-size {
    width: 75%;

}
.talbe {
    display: table;
}

.table-cell {
    display: table-cell;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.column-container {
    display: table-cell;
}

.information-box {
    border: 2px black dotted;
    margin: 35px;
    padding: 30px;
    width: 30vw;
    border-radius: 20px;
    text-align: center;
}

.border {
    border: 2px dodgerblue solid;
}

.navy {
    background-color: navy;
}

.white {
    background-color: white;
}

.yellow {
    /* background-color: goldenrod; */
    background-color: rgb(230, 201, 42);
}

.red {
    /* background-color: crimson; */
    background-color: rgb(189, 15, 15);
}